 body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}
.landing{
    background-image: url(assets/5652012.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.navbar-brand{
    color:crimson;
   
}
.navbar-nav{
    
    margin-left: 900px;
}
.nav-item a{
    text-decoration: none;
    color:white;
    font-size: x-large;
}
.nav-item a:hover{
    color: crimson;
}
#landing1{

    box-shadow: 5x 5px 5px 5px #151c2e;
    margin-left: 59%;
    margin-bottom: 10%;
}
#about{
    background-color: white;
    margin-bottom: 20px;
}
#aboutimg{
    border-radius: 50%;
   margin-top: 60px;
   margin-left: 150px;
    
}
#details{
    margin-top: 70px;
   
}
#service{
    margin-top: 50px;
    background-color: black; 
    margin-top: 50px;

}   
#subservice{
margin-left: 500px;
margin-top: 30px;
margin-bottom: 100px;

}  

#service1{
    width:300px;
    height:250px;
    background-color: #211a23;
    box-shadow: 5px 5px 5px 5px crimson;
    margin-right: 50px;
    opacity: 80%;
}

#service2{
    width:300px;
    height:250px;
    background-color: #211a23;
    margin-right: 50px;
    box-shadow: 5px 5px 5px 5px crimson;
} 
#service3{
    width:300px;
    height:250px;
    background-color: #211a23;
    margin-right: 50px;
    box-shadow: 5px 5px 5px 5px crimson;
}
#myskills{
    background-color: white;
    margin-bottom: 20px;
}
#skills{
    padding-left: 100px;
}
#skillprogress{
    margin-top: 20px;
    padding-right: 200px;
   padding-top: 50px;
}
#myprojects{
    background-color: black;
    display: block;
    height: 700px;
}
#project1{
display: flex;
margin-left: 20%;
margin-top: 20px;
margin-bottom: 20px;

}
#img1:hover {
    transform: scale(1.5);
}
#project2{
margin-top: 20px;
display: flex;
margin-left: 20%;
margin-bottom: 100px;
}
#pro1{
    width:400px;
    height:200px;
    box-shadow: 5px 5px 2px 2px white; 
    margin-right: 50px;
    
}
#pro2{
    width:400px;
    height:200px;
    margin-right: 50px;
    box-shadow: 5px 5px 5px 5px white; 
}
#part1{
    box-shadow: 5px 5px 5px 5px black;
    width: 500px;
    background-color:	#383838;
}
form{

    box-shadow: 5px 5px 5px 5px black;
    padding: 50px;
    background-color: 	#383838;

}
.form-group input{
   
    box-shadow: 3px 3px 3px 3px black;
}
.form-group textarea{
    box-shadow: 3px 3px 3px 3px black;
}
#contactme{
    background-color: white;
    height: 500px;
}
