 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;

 }
 

.landing{
    background-image: url(assets/5652012.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
    
}
#landing1{

    box-shadow: 5x 5px 5px 5px #151c2e;
   
   
 
}
.img-responsive{
    height: auto;
    width:100%;
}
.navbar-brand{
    color:crimson;
   
}
.navbar-nav{
    
    margin-left: 900px;
}
.nav-item a{
    text-decoration: none;
    color:white;
    font-size: x-large;
}
.nav-item a:hover{
    color: crimson;
}


.animation{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 40px;
}
#about{
    background-color: white;
    margin-bottom: 20px;
    overflow-x: hidden;
}
#aboutimg{
    border-radius: 50%;
     width:300px;
     height: 300px;
    
}
#details{
   
    
   
}
#service{
    margin-top: 50px;
    background-color: black; 
    
   
}  
.responsive{
    width:200px;
    height:170px ;
    align-content: center;
} 
#subservice{

margin-top: 30px;
margin-bottom: 100px;

}  

#service1{
   
    background-color: #211a23;
    box-shadow: 5px 5px 5px 5px crimson;
   
    
    opacity: 80%;
}

#service2{
    
    background-color: #211a23;
    
    
    box-shadow: 5px 5px 5px 5px crimson;
} 
#service3{
   
    background-color: #211a23;
  
    
    box-shadow: 5px 5px 5px 5px crimson;
}
#myskills{
    background-color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
#skills{
    padding-left: 100px;
}
#skillprogress{
    margin-top: 20px;
    padding-right: 200px;
   padding-top: 50px;
}
#myprojects{
    background-color: black;
    display: block;
    height: 800px;
    margin-left: 25px;
    margin-right: 25px;
}
#project1{
display: flex;
align-items: center;
justify-content: space-evenly;

margin-top: 20px;
margin-bottom: 20px;

}

#project2{
margin-top: 20px;
display: flex;
margin-bottom: 100px;
align-items: center;
justify-content: space-evenly;

}
#pro1{
    width:500px;
    height:250px;
    box-shadow: 5px 5px 2px 2px white; 
    
    
}
#pro2{
    width:500px;
    height:250px;

    box-shadow: 5px 5px 5px 5px white; 
}
#part1{
    box-shadow: 5px 5px 5px 5px black;
    width: 500px;
    background-image: url(/assets/contact.jpg);
    background-color: transparent;
    height: 600px;
}
form{

    box-shadow: 5px 5px 5px 5px black;
    padding: 15px;
    background-color: 	black;
    

}
.contact-about{
    
   
    float: center;
    font-size: 15px;
    

}
.form-group input{
   
    box-shadow: 3px 3px 3px 3px black;
}
.form-group textarea{
    box-shadow: 3px 3px 3px 3px black;
}
#contactme{
    margin-top: 30px;
    background-color:white;
    height: 800px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    
}
