body{
    margin:0;
    padding: 0;
    
}
.navbar{
    background-color: crimson;
}
.landing{
    background-image: url(assets/5651999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}